<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Trivio|SignUp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body>
  <h2 style="text-align:center;">Sign up</h2>
  <form method="post" style="padding-bottom:2%;color: rgb(0, 0, 0);">{% csrf_token %}
      <p><label for="id_username">Username:</label> <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username"> <span class="helptext"></span></p><ul><li>Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only ! ¯\_(ツ)_/¯</li></ul>
      <p><label for="id_name">Name:</label> <input type="text" name="name" maxlength="255" required="" id="id_name"></p>
      <p><label for="id_email">Email address:</label> <input type="email" name="email" maxlength="254" id="id_email"></p><span class="helptext"></span></p><ul><li>Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only ! ¯\_(ツ)_/¯</li></ul>
      <p><label for="id_college">College:</label> <input type="text" name="college" maxlength="60" required="" id="id_college"></p>
      <p><label for="id_password1">Password:</label> <input type="password" name="password1" required="" id="id_password1"> <span class="helptext"></span></p><ul><li>Your password can't be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can't be a commonly used password.</li><li>Your password can't be entirely numeric.</li></ul><p></p>
      <p><label for="id_password2">Password confirmation:</label> <input type="password" name="password2" required="" id="id_password2"> <span class="helptext"></span></p><ul><li>Enter the same password as before, for verification (^J^)</li></ul>
      <button type="submit">Sign up</button>
    </form>
  </body>
  </html>