.contacts_holder{
    height: auto;
    width: 550px;
    padding-top: 20vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: center;
    margin: auto;
  }
  
  .contact{
      justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .card {
  
      width: 200px;
      height: auto;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: translateY(-8px);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 10px 16px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px; /* 5px rounded corners */
  }
  
  .fa{
      margin-right: 10px;
      margin-left: 10px
  }
  
  /* Add rounded corners to the top left and the top right corner of the image */
  img {
    border-radius: 10px 10px 0 0;
  }
  
  @media only screen and (max-width: 768px) {
      .contacts_holder{
          display: block;
          margin-left: 7vw;
          padding-top: 0;
      }
  
      .card{
          margin-bottom: 30px;
      }
      .card:hover {
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
          transform: translateY(0px);
      }
  }