/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

   html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
   body{line-height:1}
   article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
   nav ul{list-style:none}
   blockquote,q{quotes:none}
   blockquote:before,blockquote:after,q:before,q:after{content:none}
   a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
   mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
   del{text-decoration:line-through}
   abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
   table{border-collapse:collapse;border-spacing:0}
   hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
   input,select{vertical-align:middle}
   li{list-style:none}
   
   
   /* =============================================================================
      My CSS
      ========================================================================== */
   
   /* ---- base ---- */
   
   html,body{ 
       width:100%;
       height:100%;
       background: transparent;
     position: absolute;
   }
   
   html{
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   }
   
   body{
     font-family: 'Oswald', sans-serif;
       font-size: 18px;
       overflow-x: hidden;
   }
   
   canvas{
     display:block;
     vertical-align:bottom;
   }
   
   
   /* ---- stats.js ---- */
   
   
   
   
   /* ---- particles.js container ---- */
   
   #particles-js{
     width: 100%;
     height: 100%;
     background-color: #f4efef;
     background-image: url('');
     background-size: cover;
     background-position: 50% 50%;
     background-repeat: no-repeat;
     position: fixed;
   }
   .quiz-area{
     justify-content: center;
     text-align: center;
     align-items: center;
     padding: 0 4.5vw;
   }
   
   .main-content{
     display: block;
     width: 90%;
     position: absolute;
     margin-top: 5vh;
     margin-left: 5vw;
     background-color: #f4efef;
     overflow-x: hidden;
     border-radius: 20px;
     box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
     padding: 3vh 5vw;
     justify-content: center;
     text-align: center;
     align-items: center;
     transition: all .2s ease-in;
   }
   
   .lead-content {
    display: block;
    width: 80%;
    position: absolute;
    margin-top: 7vh;
    margin-left: 10vw;
    background-color: #f4efef;
    overflow-x: hidden;
    border-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
    padding: 3vh 5vw;
    justify-content: center;
    text-align: center;
    align-items: center;
    transition: all .2s ease-in;
  }

   .logo{
     font-size: 7vh;
   }
   
   .profile{
     right: 0;
   }
   
   
   .question-area{
     align-items: center;
     justify-content: center;
     text-align: center;
     margin-top: 5vh;
     font-size: 4vh;
     border-style: solid;
     border-width: 5px;
     border-color: #1dc91d;
     border-radius: 5px;
     width: 80vw;
     height: auto
   }
   
   .message-area{
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 5vh;
    color: aqua;
   }


   .footer{
     position: absolute;
     top: 1vh;
     background-color: transparent;
     width: 100vw;
     height: 10vh;
     color: transparent;
     align-content: center;
     align-items: center;
   }
   
   p.footer-opt{
     color: black;
     max-width: 5vw;
     text-align: center;
     padding-top: 1.5vh;
     background-color: transparent;
     text-decoration: none;
   }
   
   .col.spcn{
     max-width: 2vw;
   }
   
   .col.opt{
     max-width: auto;
   }
   
   .footer-menu{
     height: 5vh;
     top: 0;
     width: 80vw;
     margin-left: 10vw;
     background-color: #f4efef;
     align-self: center; 
     align-items: left;
     border-radius: 20px;
     box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
   }
   
   .answering-area{
     height: 40vh;
     align-items: center;
     justify-content: center;
   }
   
   .answer-button{
     align-items: center;
     justify-content: center;
     padding-top: 5vh;
   }
   
   button#answer1,button#answer2,button#answer3,button#answer4
   {
     font-family: 'Roboto', sans-serif;
     font-size: larger;
     color: white;
     border-radius: 25px;
     background-color: #1dc91d;
     height: 7vh;
     width: 30vw;
     border-style: none;
     box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
     transition: background-color 0.15s ease-in, color 0.15s ease-out;
   }
   
   #answer:hover{
     background-color: white;
     color: #1dc91d;
   }
   
   .footer-content{
     margin-left: 3vw;
     padding: 1.5vh
   }
   
   .timer{
     height: 7vh;
     background-color:transparent;
     color:#EFD0CA;
     font-size:5vh;
     text-align:center;
   }
   
   #timer{
     min-height: 7vh;
     min-width: 20vh;
   }
   
   .wrapper { 
     height: 100%;
     width: 100%;
     left:0;
     right: 0;
     top: 0;
     bottom: 0;
     position: absolute;
     background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
     background-size: 1800% 1800%;
   
   -webkit-animation: rainbow 18s ease infinite;
   -z-animation: rainbow 18s ease infinite;
   -o-animation: rainbow 18s ease infinite;
     animation: rainbow 18s ease infinite;}
   
   @-webkit-keyframes rainbow {
       0%{background-position:0% 82%}
       50%{background-position:100% 19%}
       100%{background-position:0% 82%}
   }
   @-moz-keyframes rainbow {
       0%{background-position:0% 82%}
       50%{background-position:100% 19%}
       100%{background-position:0% 82%}
   }
   @-o-keyframes rainbow {
       0%{background-position:0% 82%}
       50%{background-position:100% 19%}
       100%{background-position:0% 82%}
   }
   @keyframes rainbow { 
       0%{background-position:0% 82%}
       50%{background-position:100% 19%}
       100%{background-position:0% 82%}
   }
   
   @media only screen and (max-width: 768px) {
     /* For mobile phones: */
     .answering-area{
       display: block;
       overflow-y: scroll;
     }
   
     .question-area{
       top: -5vh;
     }
   
     .answer-button{
       padding-top: 3vh;
     }
   
     button#answer{
     font-family: 'Roboto', sans-serif;
     font-size: large;
     width: 60vw;
     }
   
     .timer{
       margin-top: 1vh;
       min-width: all;
       min-height: all;
     }
   
     .main-content{
     margin-top: 6vh;
     }
   
     .info-bar{
       display: block;
     }
   
     .question-area{
       margin-top: 5vh;
     }
   
     .quiz-area{
   
     }
     .rankings-area{
      font-size: 0.8em;
     }
     .footer{
       display: none;
     }
   }
   
   .left-footer {
    left: 0;
    border-radius: 0 4px 4px 0;
    text-align: left;
    }
    .left-footer,.right-footer{
        position: fixed;
        padding: 14px;
        bottom: 14px;
        color: black;
        background-color: rgba(239, 227, 227, 0.3);;
        font-family: "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system;
        font-size: 14px;
        line-height: 1.5;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }